body {
    font-family: 'Pretendard', sans-serif;
    margin: 20px;  /* 주변 마진 추가 */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box; /* 패딩과 보더가 너비에 포함되도록 설정 */
}

.title {
    font-size: 24px;
    margin-bottom: 20px; /* 타이틀 아래 마진 추가 */
    width: 100%;
    text-align: center; /* 타이틀 중앙 정렬 */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* 컨텐츠 중앙 정렬 */
    width: 100%;
    max-width: 100px; /* 컨테이너 최대 너비 제한 */
}

.main-content, .sidebar {
    padding: 20px;
    overflow-y: auto;
}

.main-content {
    flex: 1 0 70%; /* 주 내용은 더 넓은 비율을 차지 */
    border-right: 1px solid #000;
}

.sidebar {
    flex: 1 0 30%; /* 주석은 좁은 비율을 차지 */
    font-size: 0.800rem; /* 주석 폰트 크기를 작게 */
}

.main-content p, .sidebar p {
    font-size: 1.2rem; /* 본문 글꼴 크기 증가 */
    line-height: 2.0; /* 본문 줄 간격 넓게 */
}

.sidebar p {
    font-size: 0.8rem; /* 각주 폰트 크기 */
    line-height: 1.6; /* 각주 줄 간격 조정 */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-content, .sidebar {
        flex: 1 0 100%; /* 모바일에서는 본문과 사이드바가 100% 폭을 차지 */
        border-right: none;
    }
}

.footnote-ref a {
    text-decoration: none;
    color: blue;
}

abbr[title] {
    text-decoration: underline dotted; /* 어려운 단어 밑줄 */
    cursor: help; /* 마우스 오버 시 표시 변경 */
}
